# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/

# Environment variables
.env

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# IDE project files (add more if you use other editors)
.idea/
*.iml

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# MyPy cache
.mypy_cache/

# Celery beat schedule file
celerybeat-schedule

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

